.SearchResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 3fr));
   
}

.SearchResultCard {
    display: grid;
    border: 2px, solid, teal;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
    background-color: pink;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    

    
}
